* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}

body{
  color: #ffffff;  /* Dark gray*/
  background-color: #77D9C4;
  font-size: 16px;
}

h1{
  font-size: 3em;
  padding: 10px;
  border-bottom: 2px solid #A5A5AF;
}

h2{
font-size: 2em;
}
h3{
  font-size: 1.5em;
}
h4{
  font-size: 1.25em;
}


h1 , h2, h3, h4, p {
padding: 20px 0 20px 10px;
background-color: #57BC90;
margin-top: 25px;
margin-bottom: 50px;
font-weight: lighter;
}

div {
  color: #FFF;
  background-color: #77D9C4;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  width:200px;
  margin: 0px auto;
  box-sizing: border-box;  /* Add this */
}
.nav{
  margin-bottom: 25px;
}

.nav li{
  display: block;
  background-color: #ffffff;
}


strong, em{
  background-color: #5555ff;
  font-size: 2em;
  color: #ffffff;
  padding: 0.2em;
  line-height: 2em;

}

a{
  text-decoration: none;
  color: #015249;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-bottom: 1px dashed  #77D9C4;
  display: block;
}
a:hover{
  color: #ffffff;
  background-color: #77D9C4;
}
